<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>create new post</title>
    <link rel="stylesheet" href="/newStyle.css">
</head>
<body>
    <form method="post" action="/posts">
        <input class="user" placeholder="enter username" name="username"><br>
        <textarea class="cont" name="content" placeholder="write about your post"></textarea><br>
        <button class="btn">Submit Post</button>
    </form>
</body>
</html>